body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-id{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  gap:10px
}
.greeting{
  margin-left: 5px;
  border: 1px solid black;
  padding: 5px;
}
.random{
  margin-left: 5px;
  border: 1px solid black;
  padding: 5px;
}

.credit-card{
  border: 1px solid black;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background-color: lightgray;
}